*{
    background-color: black;
    color: white;
}

.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.left{
    width: 25vw;
    
}