
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
    /* background-color: black;
    color: white; */
}

/* body{
    background-color: black;
    color: white;
} */


.left {
    width: 25vw;
    padding: 10px;
     height: 100vh;        
    position: relative;

}

.right {
    width: 73vw;
     margin: 16px 0;
    overflow-y: scroll;   /* Scroll enable */
    max-height: 100vh;    /* Total screen height */

}

/* .home {
    padding: 10px;
} */

.home ul li {

    display: flex;
    gap: 10px;
    list-style: none;
    padding: 5px 0px;
    padding-top: 14px; 
    font-weight: bold;

}

.home ul li img {
    width: 22px;
    height: 25px;
}

.logo img {
    width: 100px;
    height: 25px;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    font-weight: bold;
}
.heading img{
    border-radius: 5px;
    border: none;
    width: 25px;
    height: 25px;

}
.library{
  min-height: 68vh;   /* 80vh bhi kar sake hai */
    position: relative;
}
.footer{
    position: absolute;
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
}
.footer a{
    color: grey;
}
.right{
    margin: 16px 0;
    position: relative;
    
}
.header{
    display: flex; 
    justify-content: space-between;
    background-color:rgb(34, 34, 34);
}
.nav img{
    width: 30px;
    height: 20px;
}   
.header > *{
    padding: 20px;
} 
.spotifypalylists{
   
    padding: 6px;
    background-color: black;
}  

.cardcontainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;        
    align-items: flex-start;
    width: 100%;           
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    max-height: 70vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;           
    height: 300px;          
    background-color: #252525; 
    border-radius: 12px;
    padding: 14px;
    box-sizing: border-box;
    color: #e6e6e6;
    transition: transform 180ms ease, box-shadow 180ms ease;
    overflow: hidden;
    position: relative;
}


.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}


.card h2{
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0 0 0;
}
.card h3, .card p{
    margin: 0;
}
.play img{
    /* border: 2px solid black; */
    border-radius: 100%;    
    height: 40px;
    width: 40px;
    padding: 4px;
    align-items: center;
    position: absolute;
    top: 155px;
    right: 17px;
    transform: translateY(-6px);
    /* transition: transform 180ms ease;
    box-shadow: 180ms ease; */


}
.button > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34, 34, 34);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor:pointer;
}
.signupbtn:hover{
    font-size: 1.1rem;
    color: white;
   
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;

}
.loginbtn:hover{
    font-weight: bold;
    width: 80px;
    cursor: pointer;

}
.playbar{
  
    position: fixed;
  bottom: 0;
  left: 25vw;           /* left = sidebar width */
  right: 0;
  height: 60px;
  background:  rgb(34, 34, 34);
  z-index: 9999;
  display:flex;
  align-items:center;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: center;
}
.playbutons{
    display: flex;
   gap: 36px;
}

